$color_1: darkred;
$color_2: #25d366;
$color_3: rgb(55, 55, 77);
$color_4: black;
$color_5: rgb(255, 255, 255);
$color_6: #3d3c42;
$color_7: #ffffff;
$background-color_1: #f2f2f2;
$background-color_2: #ffffff;
$background-color_3: #3d3c42;
$background-color_4: rgba(0, 0, 0, 0.08);
$background-color_5: #25d366;
$background-color_6: whitesmoke;
$border-color_1: #3d3c42;
